{% extends 'admin.twig' %}

{% block content %}
<strong>Hello world!</strong>
<br/>
The answer to life is {{ answerToLife }}
        <div piwik-siteselector
             class="sites_autocomplete"
             siteid="{{ idSiteSelected }}"
             sitename="{{ defaultReportSiteName }}"
             all-sites-text="{{ applyAllSitesText|raw }}"
             all-sites-location="top"
             id="usersManagerSiteSelect"
             switch-site-on-select="false"></div>
{% endblock %}
